:root {
  /* primary colors */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* neutral color */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);

  /* ancor color */
  --a-color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Pale-blue);
}

.payment-card {
  width: 375px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 48px;
  background-color: #fbab7e;
  background-image: linear-gradient(123deg, #fbab7e 0%, #f7ce68 100%);
  font-family: "Red Hat Display", sans-serif;
}

.payment-card header img {
  height: 220px;
  width: 100%;
}

main {
  text-align: center;
}

main h1 {
  font-weight: 900;
}

main h3 {
  font-weight: 900;
  text-align: left;
  margin-left: 32px;
}

main p {
  margin: 0 32px 24px 32px;
  color: var(--Dark-blue);
  font-weight: 900;
  font-size: 24px;
}

.operation-container {
  width: 70%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--Very-pale-blue);
}

.operation-container input {
  font-family: "Red Hat Display", sans-serif;
  height: 32px;
  border: 1px solid var(--Desaturated-blue);
  border-radius: 12px;
  margin-bottom: 16px;
  margin-top: 8px;
  outline: none;
  text-align: center;
  font-size: 24px;
}

.operation-container__resultado {
  position: relative;
  border: 1px solid var(--Desaturated-blue);
  border-radius: 12px;
  margin-top: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation-container__resultado span {
  position: absolute;
  font-size: 12px;
  top: -13px;
  left: 15px;
  border: 1px solid var(--Desaturated-blue);
  border-radius: 8px;
  padding: 2px 8px;
  background-color: var(--Pale-blue);
}
.operation-container__resultado p {
  margin: 0;
}

.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.button {
  width: 70%;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
  background-color: var(--Bright-blue);
  border-color: var(--Bright-blue);
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.button-cancel {
  text-align: center;
  text-decoration: none;
  width: 70%;
  font-weight: 700;
  font-size: 24px;
  color: var(--a-color);
}
